npm init
tsc --init

npm install express
npm install morgan

npm install --save-dev @types/express
npm install --save-dev @types/morgan
npm install --save-dev @types/node
npm install --save-dev nodemon
npm install --save-dev tsc-watch
npm install --save-dev typescript