.container {
  /* border: 3px solid black; */
  max-width: 960px;
  margin: 0 auto;
}

.wiki-item {
  /* border: 3px solid green;  */
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wiki-content {
  /* border: 3px solid blue; */
  padding: 15px;
}

.wiki-img {
  width: 100%;

}

@media (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .wiki-text {
    min-width: 50%;
    max-width: 50%;
  }

  .img-container {
    min-width: 50%;
    max-width: 50%;
  }
}